#playerCard {
    padding: 3% 5% 3% 5%;
    align-content: center;
    font-size: 40px;
}
#timer {
    color: white;
    font-size: 80px;
}
#title{
    align-content: center;
    font-family:BRONCOS;
    color: #ff5200; 
    font-style: italic;
    font-size: 40px;
}


