body {
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: center;
}
#answerCard {
    padding: 3% 5% 3% 5%;
}

#totalScore {
    text-align: center;
}

#playerRank {
    text-align: center;
}