body {
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-position: center;
}
#leaderboard {
    padding: 1% 1% 1% 1%;
    align-content: center;
}

li {
    align-content: center;
}
#answerCard {
    padding: 3% 5% 3% 5%;
    align-content: center;
}
#correctAnswerCard {
    padding: 3% 5% 3% 5%;
    align-content: center;
}
#timer {
    padding: 3% 5% 3% 5%;
    align-content: center;
}
#totalScore {
    padding: 3% 5% 3% 5%;
    align-content: center;
    text-align: center;
}
#playerRank {
    padding: 3% 5% 3% 5%;
    align-content: center;
    text-align: center;
}
/* #title{
    align-content: center;
} */